@import url(https://fonts.googleapis.com/css?family=Oswald);

*, *::before, *::after {
    font-family: Oswald;
    font-size: 5vh;
    color: #FDF7FF;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97.9vh;

    background-image: linear-gradient(to right, #150a56, #54FBDD);
}

.calc-grid {
    width: 10rem;

    display: grid;
    grid-template-areas:
    "io io io io"
    "gap gap gap gap"
    "ac del brkt dvd"
    "n7 n8 n9 mltp"
    "n4 n5 n6 mns"
    "n1 n2 n3 plus"
    "n0 pnt ans ans";
    place-items: center;
    gap: 0.2rem;

    grid-template-rows: 4rem 0.1rem repeat(5, 2rem);
    grid-auto-columns: 1fr;
}

.calc-grid > * {
    border-radius: 0.2rem;
    width: 100%;
    height: 100%;
}

button {
    border: none;
    background-color: #150a56;
}

textarea {
    border: #150a5611 solid;
    background-color: #40ceca87;
    text-align: right;
    font-size: 0.9rem;
    padding: 0.2rem;
    resize: none;
}

textarea:focus {
    outline: none;
}

@media (max-aspect-ratio: 1/2) {
    *, *::before, *::after {
        font-size: 9.5vw;
    }
}

@media (hover: hover) and (pointer: fine) {
    button:hover {
        transform: scale(1.1);
        transition: 250ms;
        background-color: #2d14bd;
    }

    textarea:hover::-webkit-scrollbar-thumb {
        background-color: #150a5699;
    }
}

textarea::-webkit-scrollbar {
    width: 0.35rem;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #110b3380;
    border-radius: 1rem;
}
